.daterangepicker {
  position: absolute;
  color: inherit;
  background-color: #fff;
  border-radius: 10px;
  width: 278px;
  padding: 20px;
  margin-top: 2px;
  top: 100px;
  left: 20px;
  /* Calendars */ }
  .daterangepicker .day-selection-container {
    width: 120px;
    height: 100%;
    margin: 0 0 0 20px;
    padding: 0 0 0 20px;
    border-left: 1px dashed #d8dcde;
    overflow-y: auto;
    background: white;
    float: left;
    text-align: center; }
    .daterangepicker .day-selection-container .day-selection, .daterangepicker .day-selection-container .month-selection {
      height: 40px;
      width: 90px;
      padding: 5px;
      margin: 0 0 10px;
      border: 1px solid #d8dcde;
      background: white;
      text-align: center; }
  .daterangepicker.dropup {
    margin-top: -5px; }
    .daterangepicker.dropup:before {
      top: initial;
      bottom: -7px;
      border-bottom: initial;
      border-top: 7px solid #d5d9e1; }
    .daterangepicker.dropup:after {
      top: initial;
      bottom: -5px;
      border-bottom: initial;
      border-top: 5px solid #fff; }
  .daterangepicker.dropdown-menu {
    max-width: none;
    z-index: 3001; }
  .daterangepicker.single .ranges, .daterangepicker.single .calendar {
    float: none; }
  .daterangepicker.show-calendar .calendar {
    display: block; }
  .daterangepicker .calendar {
    display: none;
    max-width: 238px;
    margin: 20px; }
    .daterangepicker .calendar.single .calendar-table {
      border: none; }
    .daterangepicker .calendar th, .daterangepicker .calendar td {
      white-space: nowrap;
      text-align: center;
      min-width: 32px; }
    .daterangepicker .calendar th {
      opacity: 0.7;
      font-size: 16px;
      font-weight: 700;
      color: #4f5664; }
  .daterangepicker .calendar-table {
    border-radius: 10px;
    background-color: #fff;
    padding: 0 0 40px;
    border-bottom: 1px dashed #d8dcde; }
  .daterangepicker table {
    width: 100%;
    margin: 0; }
  .daterangepicker td, .daterangepicker th {
    text-align: center;
    width: 28px;
    height: 28px;
    border-radius: 16px;
    border: 1px solid transparent;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 300; }
    .daterangepicker td.available:hover, .daterangepicker th.available:hover {
      background-color: #eee;
      border-color: transparent;
      color: inherit; }
    .daterangepicker td.today, .daterangepicker th.today {
      font-weight: 700; }
    .daterangepicker td.week, .daterangepicker th.week {
      font-size: 80%;
      color: #ccc; }
  .daterangepicker td.off {
    opacity: .3; }
  .daterangepicker td.in-range {
    background-color: #e5f9ec;
    border-color: transparent;
    color: #4f5664;
    border-radius: 0; }
  .daterangepicker td.start-date {
    border-radius: 16px 0 0 16px; }
  .daterangepicker td.end-date {
    border-radius: 0 16px 16px 0; }
  .daterangepicker td.start-date.end-date {
    border-radius: 16px; }
  .daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #00c94a;
    border-color: transparent;
    color: #fff; }
  .daterangepicker th.month {
    width: auto;
    font-size: 16px;
    font-weight: 600;
    color: #4f5664; }
  .daterangepicker td.disabled, .daterangepicker option.disabled {
    color: #999;
    cursor: not-allowed;
    text-decoration: line-through; }
  .daterangepicker select.monthselect, .daterangepicker select.yearselect {
    font-size: 12px;
    padding: 1px;
    height: auto;
    margin: 0;
    cursor: default; }
  .daterangepicker select.monthselect {
    margin-right: 2%;
    width: 56%; }
  .daterangepicker select.yearselect {
    width: 40%; }
  .daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
    width: 50px;
    margin-bottom: 0; }
  .daterangepicker .input-mini {
    height: 40px;
    line-height: 14px;
    display: block;
    border: 1px solid #f4f7f9;
    outline: none;
    box-shadow: none;
    background: #f4f7f9;
    border-radius: 2px;
    font-size: 14px;
    color: #4f5664;
    line-height: 14px;
    margin: 0 auto;
    padding: 13px 0;
    width: 100%;
    text-align: center; }
    .daterangepicker .input-mini.active {
      border: 1px solid #4f5664; }
  .daterangepicker .daterangepicker_input {
    position: relative; }
    .daterangepicker .daterangepicker_input i {
      position: absolute;
      left: 8px;
      top: 8px; }
  .daterangepicker .daterangepicker_input_group {
    padding: 38px 0 0;
    display: table; }
    .daterangepicker .daterangepicker_input_group .daterangepicker_input, .daterangepicker .daterangepicker_input_group .daterangepicker_separator {
      display: table-cell;
      vertical-align: bottom; }
    .daterangepicker .daterangepicker_input_group .daterangepicker_separator {
      width: 16px;
      height: 40px;
      padding: 0 3px; }
      .daterangepicker .daterangepicker_input_group .daterangepicker_separator hr {
        border-top: 2px solid #d8dcde; }
  .daterangepicker .startLabel, .daterangepicker .endLabel {
    padding: 0 0 10px;
    text-align: center;
    opacity: .7;
    font-size: 14px;
    font-weight: 600;
    color: #4f5664;
    line-height: 14px; }
  .daterangepicker.rtl .input-mini {
    padding-right: 28px;
    padding-left: 6px; }
  .daterangepicker.rtl .daterangepicker_input i {
    left: auto;
    right: 8px; }
  .daterangepicker .calendar-time {
    text-align: center;
    margin: 5px auto;
    line-height: 30px;
    position: relative;
    padding-left: 28px; }
    .daterangepicker .calendar-time select.disabled {
      color: #ccc;
      cursor: not-allowed; }

.ranges {
  font-size: 11px;
  float: none;
  margin: 4px;
  text-align: left; }
  .ranges ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%; }
  .ranges li {
    font-size: 13px;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    color: #08c;
    padding: 3px 12px;
    margin-bottom: 8px;
    cursor: pointer; }
    .ranges li:hover {
      background-color: #08c;
      border: 1px solid #08c;
      color: #fff; }
    .ranges li.active {
      background-color: #08c;
      border: 1px solid #08c;
      color: #fff; }

/*  Larger Screen Styling */
@media (min-width: 564px) {
  .daterangepicker {
    width: auto; }
    .daterangepicker .ranges ul {
      width: 160px; }
    .daterangepicker.single .ranges ul {
      width: 100%; }
    .daterangepicker.single .calendar.left {
      clear: none; }
    .daterangepicker.single.ltr .ranges, .daterangepicker.single.ltr .calendar {
      float: left; }
    .daterangepicker.single.rtl .ranges, .daterangepicker.single.rtl .calendar {
      float: right; }
    .daterangepicker.ltr {
      direction: ltr;
      text-align: left; }
      .daterangepicker.ltr .calendar.left {
        clear: left;
        margin: 0; }
        .daterangepicker.ltr .calendar.left .calendar-table {
          border-radius: 0; }
      .daterangepicker.ltr .ranges, .daterangepicker.ltr .calendar {
        float: left; }
    .daterangepicker.rtl {
      direction: rtl;
      text-align: right; }
      .daterangepicker.rtl .calendar.left {
        clear: right;
        margin-left: 0; }
        .daterangepicker.rtl .calendar.left .calendar-table {
          border-left: none;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0; }
      .daterangepicker.rtl .calendar.right {
        margin-right: 0; }
        .daterangepicker.rtl .calendar.right .calendar-table {
          border-right: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
      .daterangepicker.rtl .ranges, .daterangepicker.rtl .calendar {
        text-align: right;
        float: right; } }

@media (min-width: 730px) {
  .daterangepicker .ranges {
    width: auto; }
  .daterangepicker.ltr .ranges {
    float: left; }
  .daterangepicker.rtl .ranges {
    float: right; }
  .daterangepicker .calendar.left {
    clear: none !important; } }

